:root {
   --yellow: hsl(47, 88%, 63%);
   --white: hsl(0, 0%, 100%);
   --gray-500:hsl(0, 0%, 42%);
   --gray-950: hsl(0, 0%, 7%);

   --text-preset-1: 14px;
   --text-preset-2: 24px;
   --text-preset-3: 16px;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Figtree";
}

html, body, article {
   height: 100%;
}

body {
   background-color: var(--yellow);
}

article {
   display: flex;
   justify-content: center;
   align-items: center;
}

.card-container {
   width: 100%;
   max-width: 384px;
   min-width: 327px;
   border: 1px solid var(--gray-950);
   background-color: var(--white);
   border-radius: 20px;
   margin: 0 24px;
   padding: 24px;
   box-shadow: 8px 8px 0 var(--gray-950);
   cursor: pointer;
}

.card-container:hover .card-container__content h1 {
   color: var(--yellow);
}

.card-container__image {
   border-radius: 10px;
   width: 100%;
   height: 200px;
   object-fit: cover;
   margin-bottom: 24px;
}

.card-container__content {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 12px;
   margin-bottom: 24px;
}

.card-container__content__category {
   width: fit-content;
   border-radius: 4px;
   font-size: var(--text-preset-1);
   padding: 6px 12px;
   background-color: var(--yellow);
   font-weight: bold;
}

.card-container__content__publishDate {
   font-size: var(--text-preset-1);
}

.card-container__content h1 {
   font-size: var(--text-preset-2);
   transition: color 0.2s;
}

.card-container__content__description {
   font-size: var(--text-preset-3);
   color: var(--gray-500);
   line-height: 1.5;
}

.card-container__author {
   display: flex;
   align-items: center;
   gap: 12px;
}

.card-container__author__image {
   width: 32px;
   height: 32px;
}

.card-container__author__name {
   font-size: var(--text-preset-1);
   font-weight: bold;
}

@media (max-width: 375px) {
   .card-container__content__category, .card-container__content__publishDate {
      font-size: 12px;
   }

   .card-container__content h1 {
      font-size: 20px;
   }

   .card-container__content__description {
      font-size: 14px;
   }
}