* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   height: 100%;
}

body {
   height: 100%;
   background-color: hsl(212, 45%, 89%);
}

.qr-code-container {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.qr-code-block {
   width: 320px;
   background-color: hsl(0, 0%, 100%);
   border-radius: 20px;
   padding: 16px 16px 40px;
   box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05);
}

.qr-code-block__img {
   width: 100%;
   border-radius: 10px;
   margin-bottom: 24px;
   display: block;
}

.qr-code-block__text {
   font-family: "Outfit", sans-serif;
   text-align: center;
   margin: 0 16px;
}

.qr-code-block__text h1 {
   font-weight: 700;
   font-size: 22px;
   line-height: 1.2;
   color: hsl(218, 44%, 22%);
   margin-bottom: 16px;
}

.qr-code-block__text p {
   font-weight: 400;
   font-size: 15px;
   line-height: 1.4;
   letter-spacing: 0.2px;
   color: hsl(216, 15%, 48%);
}